repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.9.6'
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
    - id: ruff-format
- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.20.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==25.9.0
- repo: https://github.com/codespell-project/codespell
  # Configuration for codespell is in .codespellrc
  rev: v2.4.1
  hooks:
  - id: codespell
    args: [
            "--builtin", "clear,rare,code,names,en-GB_to_en-US",
            "--ignore-words", "codespell-ignore-words.txt",
            "--skip", "*.css",
          ]
    exclude: locale|kickstarter-announcement.md|coreapi-0.1.1.js
    additional_dependencies:
      # python doesn't come with a toml parser prior to 3.11
      - "tomli; python_version < '3.11'"
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.0
  hooks:
  - id: pyupgrade
    args: ["--py310-plus", "--keep-percent-format"]
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.11.0
  hooks:
  - id: pyproject-fmt
